# Node.js dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# Build directories
dist/
build/

# Secret Key
./backend/BigQueryKey.json